header {
  height: 300px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)),
    url(/dist/images/image-hero-mobile.jpg);
  background-repeat: no-repeat;
  background-size: 100% 50%, contain;

  @include displayFlex(row, space-between, initial);
  padding: 32px 24px;
  nav {
    z-index: 3;
  }
  a {
    z-index: 3;
    height: 20px;
  }
}
