section {
  width: 327px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  @include centerContainer();
  margin-bottom: 24px;
  padding: 24px;
}
.about {
  color: #7a7a7a;
  position: relative;
  &__titel {
    font-size: 1.125rem;
    margin-bottom: 22px;
    font-weight: normal;
  }
  &__p {
    font-size: 0.875rem;
    line-height: 24px;
    margin-bottom: 20px;
  }
  &__close {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
  }
}
.selectionModalContainer {
  display: none;
  position: absolute;
  top: 0;
  padding-top: 120px;
  width: inherit;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  &.open {
    display: block;
  }
}

.product {
  width: 279px;
  font-size: 0.875rem;
  margin-bottom: 24px;

  @include centerContainer();

  &__card {
    width: inherit;
    &--outofstock {
      opacity: 0.5;
    }
    &--active {
      border-width: 2px;
      border-color: #3cb3ab;
      box-shadow: 15px 15px 25px rgba(0, 0, 0, 0.15);
    }
  }
  &__titel {
    font-weight: medium;
    color: #000;

    &--selectionModal {
      margin-left: 0.7rem;
    }
  }
  &__info {
    display: block;
    color: #3cb3ab;
    margin-top: 10px;
    margin-bottom: 22px;

    &--selectionModal {
      margin-left: 0.7rem;
      margin-bottom: 0;
    }
  }
  &__descContainer {
    &::before {
      content: "";
      display: inline-block;
      width: 20px;
      height: 20px;
      border: 1px solid rgba(0, 0, 0, 0.15);
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 0px;
      transform: translateY(-50%);
      opacity: 1;
      transition: all 0.3s;
    }
    &::after {
      content: "";
      display: inline-block;
      width: 10px;
      height: 10px;
      background: #3cb3ab;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 5px;
      transform: translateY(-50%);
      opacity: 0;
      transition: all 0.3s;
    }
  }
  &__desc {
    margin: 24px 0px;
    line-height: 24px;
  }

  &__days {
    @include displayFlex(row, start, center);
    margin-bottom: 24px;
  }
  &__digit {
    color: #000000;
    font-size: 2rem;
    margin-right: 0.5rem;
  }
  &__button {
    width: 157px;
    height: 48px;
    background-color: #3cb3ab;
    color: #fff;
    border: none;
    border-radius: 33.5px;
    outline: none;

    &--outofstock {
      background-color: rgba(47, 47, 47, 0.5);
    }
  }
  &__radioContainer {
    @include displayFlex(row, start, center);
    position: relative;
    padding-left: 1.5rem;
  }
  &__radio {
    cursor: pointer;
    appearance: none;
    position: relative;

    &:checked + .product__descContainer::after {
      opacity: 1;
    }
  }

  &__enter {
    display: none;
    width: inherit;
    text-align: center;
    position: relative;
    left: -25px;
  }
  &__enter.open {
    display: block;
  }
  &__header {
    margin-bottom: 1rem;
  }
  &__pledgeContainer {
    display: inline;
    position: relative;
  }
  &__pledge {
    width: 100px;
    height: 46px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 33.5px;
    text-align: center;
    outline: none;
    margin-right: 0.7rem;
  }
  &__dolar {
    position: absolute;
    left: 25%;
    top: 0;
    opacity: 0.7;
  }
  &__continue {
    width: 115px;
    height: 46px;
    border-radius: 33.5px;
    border: none;
    background-color: #3cb3ab;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    outline: none;
  }
  &__line {
    margin-bottom: 24px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  }
}

.card {
  text-align: center;
  padding: 32px 0px;
  &__item {
    margin-bottom: 24px;
  }
  &__titel {
    font-size: 2rem;
    font-weight: 400;
  }
  &__info {
    font-size: 0.875rem;
    color: #7a7a7a;
  }
  &__seperator {
    display: block;
    @include centerContainer();
    width: 80px;
    height: 24px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  }
  &__progress {
    width: 279px;
    height: 12px;
    @include centerContainer();
    background-color: rgba(151, 151, 151, 0.05);
    border-radius: 33.5px;
  }
  &__bar {
    height: inherit;
    width: 80%;
    background-color: #3cb3ab;
    border-radius: 33.5px;
  }
}
