@import "config";
@import "modal";
@import "header";
@import "main";
@import "section";
@import "selectionModal";

body {
  width: 375px;
  height: 100vh;
  margin: 0 auto;
  font-family: "Commissioner", sans-serif;
  background-color: #fafafa;
  position: relative;
}
